.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 37px 83px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-navigation-backbutton {
            -ms-grid-column: 2;
            margin-top: 57px;
            position: relative;
            z-index: 1;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 3;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
                position:relative;
                z-index:1; 
            }

.content {
    position: fixed;
    top:0px;
    left:0px;
    background-color:transparent;
}

#status {
    vertical-align:middle;
    position: fixed;
    left: 0px;
    bottom: 120px;
    color:black;
    z-index:1;
    max-width:500px;
    max-height:140px;
    background-color:rgba(34, 192, 252, 0.80);
    padding:5px 5px 5px 5px;
    /*border: orangered 1px solid;*/
}

#usrLocMap {
    position:fixed;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index:0;
}

#continueButton {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color:orange;
    border-color:darkorange;
    z-index:1;
}

#locSearchBox {
    position: fixed;
    top: 70px;
    right: 40px;
    z-index:1;
    visibility:visible;
}


@media screen and (orientation: portrait) {
    #locSearchBox {
        visibility: hidden;
    }
}
